<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	
	<display-name>ServletDemo</display-name>
	
	
	<welcome-file-list>
	   <welcome-file>index.html</welcome-file>
	</welcome-file-list>
	
	
	
	<servlet>
	  <servlet-name>one</servlet-name>
	  <servlet-class>cn.enjoytoday.Servlet_one</servlet-class>
	  
	  <!--  初始化参数 -->
	  <init-param>
	          <param-name>info</param-name>
	          <param-value>basic httpServlet demo.</param-value>
	  </init-param>
	  <!-- servlet加载启动设置，当其大于等于0时表示应用启动时加载，否则则表示访问时加载，初始加载时的数值设置越小加载优先级越高. -->
	  <load-on-startup>1</load-on-startup>
	</servlet>
	
	<servlet-mapping>
	  <servlet-name>one</servlet-name>
	  <url-pattern>/one</url-pattern>
	</servlet-mapping>
	
	
	
	<servlet>
	  <servlet-name>two</servlet-name>
	  <servlet-class>cn.enjoytoday.Servlet_two</servlet-class>
	  
	  <!--  初始化参数 -->
	  <init-param>
	          <param-name>info</param-name>
	          <param-value>basic httpServlet demo.</param-value>
	  </init-param>
	  <!-- servlet加载启动设置，当其大于等于0时表示应用启动时加载，否则则表示访问时加载，初始加载时的数值设置越小加载优先级越高. -->
	  <load-on-startup>1</load-on-startup>
	</servlet>
	
	<servlet-mapping>
	  <servlet-name>two</servlet-name>
	  <url-pattern>/two</url-pattern>
	</servlet-mapping>
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	</web-app>